<div class="search-form">
    <form method="POST" action="/course/store" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" name="name" class="form-control" id="name" placeholder="Nhập từ khóa...">
        </div>
        <div class="mb-3">
            <label for="slug" class="form-label">slug</label>
            <input type="text" name="slug" class="form-control" id="slug" placeholder="Nhập từ khóa...">
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Image</label>
            <input type="file" name="image" class="form-control" id="image" placeholder="Nhập từ khóa...">
        </div>
        <div class="mb-3">
            <label for="videoId" class="form-label">VideoId</label>
            <input type="text" name="videoId" class="form-control" id="videoId" placeholder="Nhập từ khóa...">
        </div>
        <div class="mb-3">
            <label for="des" class="form-label">Desciption</label>
            <input type="text" name="decription" class="form-control" id="des" placeholder="Nhập từ khóa...">
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
</div>