<div class="container mt-2">
    <div class="row">
        <div class="col col-12 col-md-6"><button>HOC NGAY</button></div>
        <div class="col col-12 col-md-8">
            <h2>{{course.name}}</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{course.videoId}}"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            <p>{{course.decription}}</p>
        </div>
    </div>
</div>