.search-form {
  margin-top: 2rem; }

.avtImg {
  width: 30px;
  height: 30px;
  border-radius: 50%; }

.widthTb {
  width: 500px; }

.select {
  width: 120px;
  margin: 0 8px; }

.w-100px {
  width: 200px; }
